#windy { 
                text-align: center;
                width: 98%;
                height: 500px;
                border : 2px solid #4ec4d3;
                margin : auto;
            }

.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.box5 {
    margin: 0; 
    padding: 0;
}